h1 {color:pink;}

.login {float:right; margin-right:5em;}

<<<<<<< HEAD
.online {color:pink; font-size:2em; float:right; margin-right:1em;}

textarea {resize:none; height:39em; width:55.5em; float:left; margin-bottom:0.5em;}
=======
textarea {resize:none; height:39em; width:75.5em; float:left; margin-bottom:0.5em;}
>>>>>>> 4c58b8f80f762ada3aa3e4b965d9253b419f48bf

.new_message {float:left;}

#text {height:2em;}

#username {height:2em;}

button {padding:0.5em;}

.button {display:none;}

.userbox {width:16%; height:497px; padding:1em; margin-bottom:0.5em; background-color:#F0F0F0; border:0.1em solid; float:left;}
